---
import Card from "../../../components/TechCard.astro";
import CraftLayout from "../../../layouts/CraftLayout.astro";

import reactImage from "../../../assets/react.svg";
import tsImage from "../../../assets/typescript.svg";
import nodeImage from "../../../assets/nodejs.svg";
import mongoImage from "../../../assets/mongodb.svg";
import jestImage from "../../../assets/jest.svg";
import awsImage from "../../../assets/aws.svg";
---

<CraftLayout title="Technologies">
  <main>
    <ul class="flex flex-row gap-12 flex-wrap list-none m-0">
      <li class="flex basis-0 grow">
        <Card
          title="React"
          image={reactImage}
          experience={7}
          projects={6}
          className="grow"
          detailsUrl="/craft/tech/react"
        />
      </li>

      <li class="flex basis-0 grow">
        <Card
          title="Typescript"
          image={tsImage}
          experience={7}
          projects={7}
          className="grow"
          detailsUrl=""
        />
      </li>

      <li class="flex basis-0 grow">
        <Card
          title="Node.js"
          image={nodeImage}
          experience={4}
          projects={5}
          className="grow"
          detailsUrl=""
        />
      </li>

      <li class="flex basis-0 grow">
        <Card
          title="Testing"
          image={jestImage}
          experience={7}
          projects={6}
          className="grow"
          detailsUrl=""
        />
      </li>

      <li class="flex basis-0 grow">
        <Card
          title="MongoDB"
          image={mongoImage}
          experience={4}
          projects={3}
          className="grow"
          imageClass="max-w-[35px]"
          detailsUrl=""
        />
      </li>

      <li class="flex basis-0 grow">
        <Card
          title="Cloud"
          image={awsImage}
          experience={4}
          projects={5}
          className="grow"
          detailsUrl=""
        />
      </li>
    </ul>
  </main>
</CraftLayout>

<style></style>
