---
import { getCollection } from "astro:content";

import CraftLayout from "../../layouts/CraftLayout.astro";
import Card from "./Card.astro";
import { paths } from "../../paths";
import CardsList from "../CardsList.astro";

const skillsList = await getCollection("skills").then((items) =>
  items.sort((a, b) => a.data.order - b.data.order)
);
---

<CraftLayout title="Skills">
  <main class="grow">
    <CardsList>
      {
        skillsList.map(async (skill) => {
          const projects = await getCollection("projects").then((items) =>
            items.filter((project) =>
              project.data.skills.includes(skill.data.id)
            )
          );

          const learnings = await getCollection("learn").then((items) =>
            items.filter((learning) =>
              learning.data.skills.includes(skill.data.id)
            )
          );

          return (
            <li class="flex">
              <Card
                title={skill.data.display_name}
                experience={skill.data.years_experience}
                projects={projects.length}
                courses={learnings.length}
                url={paths.skillDetails(skill.data.id)}
                className="grow"
              />
            </li>
          );
        })
      }
    </CardsList>
  </main>
</CraftLayout>
