---
import NavLink from "./NavLink.astro";
import { paths } from "../paths";
---

<nav class="h-[100%]">
  <ul
    class="flex flex-col text-nav-mobile gap-nav serif items-center p-4 h-[100%]"
  >
    <NavLink type="top" path={paths.home}>Home</NavLink>

    <NavLink type="top" path={paths.craft}>
      <span>My craft</span>
      <ul
        class="flex flex-col text-side-nav-mobile gap-6 mt-10 mb-10 font-sans text-default"
        slot="subnav"
      >
        <NavLink type="craft" center path={paths.skills}>Skills</NavLink>
        <NavLink type="craft" center path={paths.technologies}>Tech</NavLink>
        <NavLink type="craft" center path={paths.projects}>Projects</NavLink>
        <NavLink type="craft" center path={paths.learn}>Learning</NavLink>
        <NavLink type="craft" center path={paths.work}>Work</NavLink>
      </ul>
    </NavLink>

    <NavLink type="top" path={paths.about}>About me</NavLink>

    <NavLink type="top" path={paths.blog}>Blog</NavLink>
  </ul>
</nav>
