---
import { paths } from "../paths";
import NavLink from "./NavLink.astro";
---

<nav>
  <ul class="flex flex-col text-side-nav gap-side-nav pl-2">
    <NavLink type="craft" path={paths.skills}>Skills</NavLink>
    <NavLink type="craft" path={paths.technologies}>Tech</NavLink>
    <NavLink type="craft" path={paths.projects}>Projects</NavLink>
    <NavLink type="craft" path={paths.learn}>Learning</NavLink>
    <NavLink type="craft" path={paths.work}>Work</NavLink>
  </ul>
</nav>
