---
import cx from "classnames";
import { isCraftPathActive, paths } from "../paths";
const pathname = new URL(Astro.request.url).pathname;
---

<nav>
  <ul class="flex flex-col text-side-nav gap-side-nav pl-2">
    <li
      class={cx("self-start", {
        "text-primary": isCraftPathActive(pathname, paths.skills),
      })}
    >
      <div class="pr-2">
        <a href={paths.skills}>Skills</a>
      </div>

      <div
        class={isCraftPathActive(pathname, paths.skills)
          ? "h-0.5 w-full bg-primary"
          : ""}
      >
      </div>
    </li>

    <li
      class={cx("self-start", {
        "text-primary": isCraftPathActive(pathname, paths.technologies),
      })}
    >
      <div class="pr-2">
        <a href={paths.technologies}>Tech</a>
      </div>

      <div
        class={isCraftPathActive(pathname, paths.technologies)
          ? "h-0.5 w-full bg-primary"
          : ""}
      >
      </div>
    </li>

    <li
      class={cx("self-start", {
        "text-primary": isCraftPathActive(pathname, paths.projects),
      })}
    >
      <div class="pr-2">
        <a href={paths.projects}>Projects</a>
      </div>

      <div
        class={isCraftPathActive(pathname, paths.projects)
          ? "h-0.5 w-full bg-primary"
          : ""}
      >
      </div>
    </li>

    <li
      class={cx("self-start", {
        "text-primary": isCraftPathActive(pathname, paths.learn),
      })}
    >
      <div class="pr-2">
        <a href={paths.learn}>Learning</a>
      </div>

      <div
        class={isCraftPathActive(pathname, paths.learn)
          ? "h-0.5 w-full bg-primary"
          : ""}
      >
      </div>
    </li>

    <li
      class={cx("self-start", {
        "text-primary": isCraftPathActive(pathname, paths.jobs),
      })}
    >
      <div class="pr-2">
        <a href={paths.jobs}>Work</a>
      </div>

      <div
        class={isCraftPathActive(pathname, paths.jobs)
          ? "h-0.5 w-full bg-primary"
          : ""}
      >
      </div>
    </li>
  </ul>
</nav>
