---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";

interface Props {
  title: string;
  image: ImageMetadata;
  experience: number;
  projects: number;
  className?: string;
  imageClassName?: string;
  url: string;
}

const { experience, projects, title, image, className, url, imageClassName } =
  Astro.props;
---

<div
  class=`bg-card p-4 flex flex-col gap-6 justify-between rounded ${className}`
>
  <header class="flex flex-row gap-6">
    <Image
      src={image}
      alt={title}
      class={`max-w-[50px] text-white ${imageClassName}`}
    />
    <h2 class="font-bold text-xl">{title}</h2>
  </header>

  <div class="flex flex-col gap-4 text-sm">
    <div>
      <p>
        <span>{experience}</span> years
      </p>
      <p>
        <span>{projects}</span> projects
      </p>
    </div>

    <p>
      <a class="underline text-primary text-xs" href={url}>Learn more</a>
    </p>
  </div>
</div>

<style></style>
