---
interface Props {
  title: string;
  experience: number;
  projects: number;
  technologies: number;
  url: string;
  className?: string;
}

const { experience, projects, title, className, technologies, url } =
  Astro.props;
---

<div class=`bg-card p-4 flex flex-col gap-6 justify-between ${className}`>
  <header>
    <h2 class="font-bold text-xl">{title}</h2>
  </header>

  <div class="flex flex-col gap-4 text-sm">
    <div>
      <p>
        <span>{experience}</span> years
      </p>
      <p>
        <span>{projects}</span> projects
      </p>
      <p>
        <span>{technologies}</span> technologies
      </p>
    </div>

    <p>
      <a class="underline text-primary text-xs" href={url}>Learn more</a>
    </p>
  </div>
</div>

<style></style>
